body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    font-weight: 400;
    background-color: tomato;
}

#form-container{
    margin-top: 15vh;
    height: 44vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-container span{
    display: block;
    height: 240px;
    margin: 0 auto;
    max-width: 480px;
    background-color: rebeccapurple;
    border: 2px whitesmoke solid;
    border-radius: 20px;    
    padding: 25px;
}

#form-container label{
    display: inline-block;
    margin: 5px;
    color: antiquewhite;
    width: 180px;
}

#form-container input{    
    display: inline-block;
    width: 220px;
}

#email-send-form button{
    display: inline-block;
    margin: 0 auto;
    background-color: tomato;
    border: 2px solid tomato;
    color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 150px;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
    animation-name: borderanim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


#otp-check-form button{
    display: block;
    margin: 0 auto;
    background-color: tomato;
    border: 2px solid tomato;
    color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 150px;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
    animation-name: borderanim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes borderanim{
    0%{border: 2px solid tomato;}
    50%{border: 2px solid whitesmoke;}
    100%{border: 2px solid tomato;}
}
#heading-bar{
    display: block;
    background-color: rgba(0,0,0,0.8);
    color: antiquewhite;
    padding: 5px 0;
    text-align: center;
    border-bottom: 2px white solid;
    background-image: url("../images/comic-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading-bar h2{
    background-color: rgba(0,0,0,0.6);
    padding: 1px;
    color: white;
}

#heading-bar h1:hover{
    text-decoration: underline;
}
#result{
    display: block;
    height: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 5px;
}